
.wrapper {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    perspective: 5000px;
}

.miniPlayer {
    width: fit-content;
    height: fit-content;
    perspective: inherit;
    left: 50%;
    top: calc(50% - 40px);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 1s top linear, .1s transform linear;
    position: absolute;
    font-family: 'Garamond';
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: white;
    perspective: inherit;
}

.cdCover {
    transform-style: preserve-3d;
    perspective: inherit;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    margin-bottom: 40px;
    transition: .15s transform linear;
}

.cdCover.showing {
    animation: shakeIt 30s linear infinite;
}

.albumArt, .backCover {
    background-size: 300px 300px;
    transform-style: preserve-3d;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    position: relative;
    transition: .1s bottom linear, .1s transform ease-in;
    bottom: 0;
    z-index: 5;
    perspective: inherit;
    outline: 1px solid transparent;
}

.albumArt {
    transition: .5s border-radius linear;
}

.backCover {
    position: absolute;
    background: rgb(36, 36, 36);
    margin-bottom: 0px;
    left: 0px;
    transform: translateZ(-30px);
    perspective-origin: bottom;
}

.backCover::before {
    width: 300px;
    height: 30px;
    left: 0;
    position: absolute;
    transform: rotateX(-90deg) translateZ(-15px) translateY(-15px);
    background: rgb(36, 36, 36);
    content: "";
    outline: 1px solid transparent;
}

.backCover::after {
    width: 300px;
    height: 30px;
    bottom: 0;
    left: 0;
    position: absolute;
    transform: rotateX(90deg) translateZ(-15px) translateY(15px);
    background: rgb(36, 36, 36);
    content: "";
    outline: 1px solid transparent;
}

.albumArt::before {
    width: 30px;
    height: 300px;
    position: absolute;
    left: 0;
    transform: rotateY(-90deg) translateX(-15px) translateZ(15px);
    background: rgb(36, 36, 36);
    content: "";
    outline: 1px solid transparent;
}

.albumArt::after {
    width: 30px;
    height: 300px;
    position: absolute;
    right: 0;
    transform: rotateY(90deg) translateX(15px) translateZ(15px);
    background: rgb(36, 36, 36);
    content: "";
    outline: 1px solid transparent;
}

.cdCover:hover {
    cursor: pointer;
    transform: rotateX(15deg);
}

@keyframes slideIn {
    0% {
        top: calc(50% - 40px);
        pointer-events: none;
    }
    50% {
        top: calc(50% - 320px);
        pointer-events: none;
    }
    100% {
        top: calc(50% - 40px);
        pointer-events: none;
    }
}

@keyframes shakeIt {
    0% {
        transform: rotateX(-11deg) rotateZ(-7deg) translateY(4px) rotateY(0deg);
    }
    25% {
        transform: rotateX(7deg) rotateZ(5deg) translateY(-7px) rotateY(-5deg);
    }
    50% {
        transform: rotateX(-10deg) rotateZ(-5deg) translateY(5px) rotateY(3deg);
    }
    75% {
        transform: rotateX(8deg) rotateZ(2deg) translateY(-10px) rotateY(-4deg);
    }
    100% {
        transform: rotateX(-14deg) rotateZ(-7deg) translateY(4px) rotateY(0deg);
    }
}

.showing {
    animation: slideIn 1s forwards;
}

.showingBack {
    animation: slideIn 1s backwards;
}

.info {
    opacity: 0;
    transition: .5s opacity ease-in;
}

.show {
 opacity: 1;
}
