
.wrapper {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
}

.miniPlayer {
    width: fit-content;
    height: fit-content;
    left: 50%;
    top: calc(50% - 40px);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 1s top linear, .1s transform linear;
    position: absolute;
    font-family: 'Garamond';
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: white;
}

.albumArt {
    background-size: 300px 300px;
    transform-style: preserve-3d;
    width: 300px;
    height: 300px;
    position: relative;
    transition: .1s bottom linear, .1s transform ease-in;
    bottom: 0;
    z-index: 5;
    margin: 0 auto;
    margin-bottom: 10px;
    perspective: inherit;
    outline: 1px solid transparent;
    border-radius: 15px !important;
}

.albumArt:hover {
    cursor: pointer;
    bottom: 5px;
}

@keyframes slideIn {
    0% {
        top: calc(50% - 40px);
        pointer-events: none;
    }
    50% {
        top: calc(50% - 320px);
        pointer-events: none;
    }
    100% {
        top: calc(50% - 40px);
        pointer-events: none;
    }
}

.showing {
    animation: slideIn 1s forwards;
}

.showingBack {
    animation: slideIn 1s backwards;
}

.info {
    opacity: 0;
    transition: .75s cubic-bezier(0, 0, 0, 1.02);
}

/* go away: cubic-bezier(0, 1.32, 1, 1) */