.loginContainer {
    height: fit-content;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}
.loginTitle {
    font-family: 'Garamond';
    text-align: center;
    font-size: 60px;
    font-weight: 500;
}

.loginButton {
    padding: 10px 40px;
    width: fit-content;
    height: fit-content;
    margin:0 auto;
    display:block;
    font-family: 'Garamond';
    border-radius: 15px;
    font-size: 24px;
}